:root {
  --dark: #23f118;
  --mid: #23f118;
  --light: #23f118;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: solid 1px blueviolet; */
}

ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #000;
  background-color: var(--mid);
  font-size: 1.1rem;
}

/* A elements get default styles */
a {
  text-decoration: none;
  color: white;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

select {
  font: inherit;
  padding: 10px;
}

.Application {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.hidden {
  display: none;
}

.header-tag {
  font-weight: 800;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-controls {
  display: flex;
  gap: 2rem;
  padding-right: 1%;
}

.link {
  font-size: 20px;
}

.map {
  background-color: var(--light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map > img {
  width: 80%;
}

.countries-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.countries-list h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.country-item {
  width: 33.333333%;
  padding: 10px;
  display: flex;
  align-items: stretch;
  align-items: center;
  justify-content: center;
}

.country-item:nth-of-type(4n+2) {
  background-color: #23f118;
}

.country-item:nth-of-type(4n+3) {
  background-color: #23f118;
}

.country-item > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flag {
  width: 150px;
  height: 100px;
}

.country-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.country-info > h1 {
  text-align: center;
}

.bold {
  font-weight: 800;
  padding-left: 10px;
  color: #000;
}

.fa-house {
  color: #000;
}

.languages,
.borders {
  display: flex;
}

.languages > ul,
.currencies > ul,
.borders > ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.currencies > ul {
  flex-direction: column;
}

.symbol {
  padding-left: 10px;
}
